<!DOCTYPE html>
<html>
<title>Traufe Sabrina Jonathan X</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://static.ourwedding.cloud/w3.css">
<link rel="stylesheet" href="http://static.ourwedding.cloud/w3-theme-red.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body bgcolor="#ffebcd", text="#9F8048">
<nav class="w3-sidenav w3-card-2 w3-white" style="width:60%;display:none" id="mySidenav">
<div class="w3-red">
  <span onclick="w3_close()" class="w3-closenav w3-right w3-large">X</span>
  <br><br><br><br>
 </div>
<br><font size="5">
<a href="/agenda">Agenda</a> 
<a href="/drive">Anfahrt</a> 
<a href="/hotels">Hotels</a> 
<a href="/picture">Bilder </a> 
<a href="/music">Musikw&uuml;nsche</a> 
</font>
</nav>
<header class="w3-container w3-card-4 w3-theme">
  <h2> <i class="fa fa-bars" onclick="w3_open()"></i> Hochzeit & Taufe</h2>
  <p align="right">22.07.2017</p>
</header>

<div class="w3-container">
<hr>
{% for milestone in milestones %}
{% if admin %}
<a href="/del/{{milestone[0]}}" align="right">LOESCHEN</a>
{% endif %}	
<div class="w3-row">
  <div class="w3-col s9 w3-container">
    <h3> {{ milestone[1] }}  </h3>
    <p> 
		{% if milestone[2] != "" %}
		{{ milestone[2] }}, 
		{% endif %}
		{{ milestone[3] }} </p>
  </div>
</div>
<hr>
{% endfor %}

<div class="w3-row">
  <div class="w3-col s9 w3-container">
    <h3>Anfahrt </h3>
    <p><a href="http://maps.google.com/maps?daddr=52.292726,10.532266&amp;ll=">Doweseeweg 1, 38112 Braunschweig</a></p>
  </div>
</div>
<hr>

{% if admin %}
<form action="/add", method="post">
	<input type="text", name="activity", value="Was">
	<input type="text", name="schedule", value="Wann">
	<input type="text", name="location", value="Wo">
	<input type="submit">
</form>
{% endif %}	

</div>
<footer class="w3-container w3-theme">
  <h4>Viel Freude</h4>
</footer>
<script>
function w3_open() {
    document.getElementById("mySidenav").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
}
</script>
</body>
