<div class="w3-row">
  <div class="w3-col s12 w3-container">
    <h3> Trau- & Taufzeremonie </h3>
    <p> 14:30, Am See </p>
  </div>
</div>
<hr>

<div class="w3-row">
  <div class="w3-col s12 w3-container">
    <h3> Sektempfang mit anschließendem Kaffee und Kuchen </h3>
    <p> 16:00, Am See </p>
  </div>
</div>
<hr>

<div class="w3-row">
  <div class="w3-col s12 w3-container">
    <h3> Gruppenfotos </h3>
    <p> 17:00, Am See </p>
  </div>
</div>
<hr>

<div class="w3-row">
  <div class="w3-col s12 w3-container">
    <h3> Abendessen </h3>
    <p> 19:00, Gewächshaus </p>
  </div>
</div>
<hr>

<div class="w3-row">
  <div class="w3-col s12 w3-container">
    <h3> Eröffnungstanz </h3>
    <p> 20:30, Gewächshaus </p>
  </div>
</div>
<hr>

<div class="w3-row">
  <div class="w3-col s12 w3-container">
    <h3> Ansprechpartner </h3>
	<p> Organisation: Nathalie Heinecke </p>
    <p> Trauzeugen: Johanna Rollwage, Johannes Krost </p>
	<p> Taufpaten: Sophia Kannenberg, Johannes Krost </p>
  </div>
</div>

</div>