<div class="w3-row">
  <div class="w3-col s12 w3-container">
    <h3><span> Trau- & Taufzeremonie</span> </h3>
    <p><span> 14:30, Am See </span></p>
  </div>
</div>
<hr>

<div class="w3-row">
  <div class="w3-col s12 w3-container">
    <h3><span> Sektempfang mit anschließendem Kaffee und Kuchen </span></h3>
    <p><span> 16:00, Am See </span></p>
  </div>
</div>
<hr>

<div class="w3-row">
  <div class="w3-col s12 w3-container">
    <h3><span> Gruppenfotos </span></h3>
    <p><span> 17:00, Am See </span></p>
  </div>
</div>
<hr>

<div class="w3-row">
  <div class="w3-col s12 w3-container">
    <h3><span> Abendessen </span></h3>
    <p><span> 19:00, Gewächshaus </span></p>
  </div>
</div>
<hr>

<div class="w3-row">
  <div class="w3-col s12 w3-container">
    <h3><span> Eröffnungstanz </span></h3>
    <p><span> 20:30, Gewächshaus </span></p>
  </div>
</div>
<hr>

<div class="w3-row">
  <div class="w3-col s12 w3-container">
    <h3><span> Ansprechpartner </span></h3>
	<p><div id="link"> <span>Organisation: <u>Nathalie Heinecke </u></span></div>
	<div id="tooltip" style="display:none;"> <b><span>Kontakt: nathalieheinecke@googlemail.com</span></b> </div> <p>

    <p><span> Trauzeugen: Johanna Rollwage, Johannes Krost </span></p>
	<p><span> Taufpaten: Sophia Kannenberg, Jakob Krost </span></p>
  </div>
</div>

</div>
