<div>
    <h3>Zu- / Absage </h3>
    <form action="https://ourwedding.cloud/krost/register" method="post">
		<!-- <fieldset border="0px"> -->
			Name(n): 
			<input type="text"name="person"> <br><br>
			<input type="radio" id="zusage" name="response" value="zusage">
			<label for="zusage"> Ja Ich/Wir komme(n) </label> mit 
			<select name="anzahl">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select> Personen. Davon essen 
			<select name="vegetarisch">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="1">2</option>
				<option value="1">3</option>
				<option value="1">4</option>
			</select> Personen vegetarisch <br>
			<input type="radio" id="absage" name="response" value="absage">
			<label for="absage"> Nein, leider kann/können ich/wir nicht kommen </label> <br><br>
			<input type="submit" value="Absenden">
		<!-- </fieldset> -->
	</form>
</div>
