<!DOCTYPE html>
<html>
<title>Traufe Sabrina Jonathan X</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://ourwedding.cloud/krost/static/w3.css">
<link rel="stylesheet" href="http://ourwedding.cloud/krost/static/w3-theme-red.css"> 
<link rel="stylesheet" href="http://ourwedding.cloud/krost/static/ourwedding.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<body bgcolor="#000000", text="#9F8048">
<nav class="w3-sidenav w3-card-2 w3-white owfont" style="width:60%;display:none" id="mySidenav">
<div class="w3-red">
  <span onclick="w3_close()" class="w3-closenav w3-right w3-large">X</span>
  <br><br><br><br>
 </div>
<br><font size="5">
<a href="http://ourwedding.cloud/krost/static/start.html">Intro</a> 
<a href="http://ourwedding.cloud/krost/static/agenda.html">Agenda</a> 
<a href="http://ourwedding.cloud/krost/static/drive.html">Anfahrt</a> 
<a href="http://ourwedding.cloud/krost/static/hotels.html">Hotels</a> 
<a href="http://ourwedding.cloud/krost/static/picture.html">Fotoalbum</a> 
<a href="http://ourwedding.cloud/krost/static/music.html">Musikw&uuml;nsche</a> 
<a href="http://ourwedding.cloud/krost/static/checkin.html">Check-In</a> 
</font>
</nav>
<header class="w3-container w3-card-4 w3-theme">
  <h2 class="owfont"> <i class="fa fa-bars" onclick="w3_open()"></i> Hochzeit & Taufe</h2>
  <p align="right">22.07.2017</p>
</header>

<div class="bgpic"></div>
<section>
<div class="w3-container owfont", onClick="w3_close()">
<hr>

<!-- Editierbereich Anfang -->

<% 
if subp != '': 
	include('templates/' + subp) 
else:
%>
	'Seite nicht gefunden'
<%
end
%>
<!-- Editierbereich Ende -->
</div>
</section>

<footer class="w3-container w3-theme">
  <h4></h4>
</footer>
<script>
function w3_open() {
    document.getElementById("mySidenav").style.display = "block";
    document.getElementById("mySidenav").style.display = "50%";
}

function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
}
$('#link').click(function(){
  $('#tooltip').toggle();
});
</script>
</body>
</html>
